build/blocks/submenu.html
<aside class="b-submenu js-submenu"><a class="b-submenu__icon js-submenu-open" href="#">
    <svg class="b-icon b-icon--burger ">
      <use xlink:href="#icon-burger"></use>
    </svg></a>
  <div class="b-submenu__body js-submenu-body"><a class="b-submenu__icon b-submenu__close js-submenu-close" href="#">
      <svg class="b-icon b-icon--close ">
        <use xlink:href="#icon-close"></use>
      </svg></a>
    <div class="b-submenu__items"><a class="b-submenu__item" href="/forum.html">
        <div class="b-submenu__img">
          <svg class="b-icon b-icon--forum ">
            <use xlink:href="#icon-forum"></use>
          </svg>
        </div>
        <div class="b-submenu__txt">О форуме</div></a><a class="b-submenu__item" href="/#section_0/1">
        <div class="b-submenu__img">
          <svg class="b-icon b-icon--areas ">
            <use xlink:href="#icon-areas"></use>
          </svg>
        </div>
        <div class="b-submenu__txt">Площадки</div></a><a class="b-submenu__item" href="/#section_0/2">
        <div class="b-submenu__img">
          <svg class="b-icon b-icon--download ">
            <use xlink:href="#icon-download"></use>
          </svg>
        </div>
        <div class="b-submenu__txt">Программа</div></a><a class="b-submenu__item" href="/#section_0/3">
        <div class="b-submenu__img">
          <svg class="b-icon b-icon--profi ">
            <use xlink:href="#icon-profi"></use>
          </svg>
        </div>
        <div class="b-submenu__txt">Эксперты</div></a><a class="b-submenu__item" href="/#section_0/7">
        <div class="b-submenu__img">
          <svg class="b-icon b-icon--contacts ">
            <use xlink:href="#icon-contacts"></use>
          </svg>
        </div>
        <div class="b-submenu__txt">Контакты</div></a><a class="b-submenu__item" href="#">
        <div class="b-submenu__lang">РУС/EN</div></a><a class="b-submenu__item hide" href="#">
        <div class="b-submenu__img">
          <svg class="b-icon b-icon--partners ">
            <use xlink:href="#icon-partners"></use>
          </svg>
        </div>
        <div class="b-submenu__txt">Партнеры</div></a><a class="b-submenu__item hide" href="#">
        <div class="b-submenu__img">
          <svg class="b-icon b-icon--examples ">
            <use xlink:href="#icon-examples"></use>
          </svg>
        </div>
        <div class="b-submenu__txt">Экспоненты</div></a><a class="b-submenu__item hide" href="#">
        <div class="b-submenu__img">
          <svg class="b-icon b-icon--pin ">
            <use xlink:href="#icon-pin"></use>
          </svg>
        </div>
        <div class="b-submenu__txt">
          Место <br/>проведения</div></a><a class="b-submenu__item hide" href="#">
        <div class="b-submenu__img">
          <svg class="b-icon b-icon--hotels ">
            <use xlink:href="#icon-hotels"></use>
          </svg>
        </div>
        <div class="b-submenu__txt">Гостиницы</div></a><a class="b-submenu__item b-submenu__item--cart hide" href="#">
        <div class="b-submenu__img">
          <svg class="b-icon b-icon--cart ">
            <use xlink:href="#icon-cart"></use>
          </svg>
        </div>
        <div class="b-submenu__txt">Ваша корзина</div></a></div>
  </div>
</aside>

src/blocks/submenu.pug
include ../mixin/icon.pug

aside.b-submenu.js-submenu
    a(href="#").b-submenu__icon.js-submenu-open
        +icon('burger')
    .b-submenu__body.js-submenu-body
        a(href="#").b-submenu__icon.b-submenu__close.js-submenu-close
            +icon('close')
        .b-submenu__items
            a(href="/forum.html").b-submenu__item
                .b-submenu__img
                    +icon('forum')
                .b-submenu__txt О форуме
            a(href="/#section_0/1").b-submenu__item
                .b-submenu__img
                    +icon('areas')
                .b-submenu__txt Площадки
            a(href="/#section_0/2").b-submenu__item
                .b-submenu__img
                    +icon('download')
                .b-submenu__txt Программа
            a(href="/#section_0/3").b-submenu__item
                .b-submenu__img
                    +icon('profi')
                .b-submenu__txt Эксперты
            a(href="/#section_0/7").b-submenu__item
                .b-submenu__img
                    +icon('contacts')
                .b-submenu__txt Контакты
            a(href="#").b-submenu__item
                .b-submenu__lang РУС/EN

            a(href="#").b-submenu__item.hide
                .b-submenu__img
                    +icon('partners')
                .b-submenu__txt Партнеры
            a(href="#").b-submenu__item.hide
                .b-submenu__img
                    +icon('examples')
                .b-submenu__txt Экспоненты
            a(href="#").b-submenu__item.hide
                .b-submenu__img
                    +icon('pin')
                .b-submenu__txt Место <br/>
                    | проведения
            a(href="#").b-submenu__item.hide
                .b-submenu__img
                    +icon('hotels')
                .b-submenu__txt Гостиницы
            a(href="#").b-submenu__item.b-submenu__item--cart.hide
                .b-submenu__img
                    +icon('cart')
                //- отображение полной корзины
                //- .b-submenu__img
                //-     +icon('cart-fill')
                //- .b-submenu__cart-num 10
                .b-submenu__txt Ваша корзина
